em{
    background-color: red;    
}
strong{
    background-color: rebeccapurple;    
}
ins{
    background-color:yellow;    
}
s{
    background-color: green;    
}
u{
    background-color: gold;    
}
em{
    background-color: tomato;    
}
em{
    background-color: violet;    
}
i{
    background-color: chartreuse;    
}
del{
    background-color:blue;    
}
span{
    background-color: darkcyan;    
}
small{
    background-color: brown;    
}