@font-face {
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 500;
    src: local('ReformaGroteskMedium'),
         url('/fonts/ReformaGroteskMedium.woff2') format('woff2'),
         url('/fonts/ReformaGroteskMedium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-weight: 600;
    src: local('ReformaGroteskDemi'),
         url('/fonts/ReformaGroteskDemi.woff2') format('woff2'),
         url('/fonts/ReformaGroteskDemi.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'ReformaGroteskBoldC';
    font-style: normal;
    font-weight: 700;
    src: local('ReformaGroteskBold'),
         url('/fonts/ReformaGroteskBold.woff2') format('woff2'),
         url('/fonts/ReformaGroteskBold.woff') format('woff');
    font-display: swap;
}
