@font-face { 
    font-family: "CirceRegular";
    src: url("../fonts/CirceRegular/CirceRegular.eot");
    src: url("../fonts/CirceRegular/CirceRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/circe.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "CirceBold";
    src: url("../fonts/CirceBold/CirceBold.eot");
    src: url("../fonts/CirceBold/CirceBold.eot?#iefix")format("embedded-opentype"),
    url("/fonts/circe-bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}