*{
    box-sizing: border-box;
    font-size: 40px;
}

.grid{
    display: grid;
    grid-template-rows: 150px minmax(300px,1fr) 150px;
    grid-template-columns: 200px 1fr;
}   


.header{
    background-color: brown;
    grid-column: 1/3;
}

.aside{
    background-color: chocolate;
    grid-row: 2/3;
}

.main{
    background-color: darkmagenta;
}

.footer{
    background-color: tomato;
    grid-column: 1/3;
}



