@media (max-width:1625px){
.footer{
    padding-left: 30px;
}

.contacts__address{
    align-items: flex-end;
}
}

@media (max-width:1580px){
.contacts__cards{
    margin-left: 230px;
}

.contacts__img{
    width: 50%;
}

.contacts__container{
    right: 23%;
}

.contacts__suptitle{
    margin-left: 220px;
}
}

@media (max-width:1550px){
.cards{
    margin-left: 100px;
}

.header__menu{
    margin-left: 100px;
}
}

@media (max-width:1355px){
.cards{
    margin-left: 200px;
}

.header__menu{
    margin-left: 200px;
}

.footer{
    padding-left: 150px;
}
}

@media (max-width:1270px){
.contacts__img{
    width: 40%;
}

.contacts__container{
    right: 11%;
}

.header__menu{
    flex-wrap: wrap;
}
}

@media (max-width:1120px){
    .goods__main-img{
        width: 70%;
    }

    .goods__wrapper{
        justify-content: center;
        flex-wrap: wrap;
    }

    .goods__imgs{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 330px;
    }
    
    .goods__secondary-imgs{
        flex-direction: column;
    }

    .goods__secondary-img+.goods__secondary-img{
        margin-top: 10px;
    }
}

@media (max-width:1100px){
.header__menu{
    margin-left: 110px;
}

.contacts__img{
    display: none;
}

.contacts__container{
    right: 1%;
    bottom: 4%;
}
}

@media (max-width:990px){
.contacts__title{
    font-size: 35px;
}

.contacts{
    padding-top: 50px;
}

.contacts__suptitle{
    margin-bottom: 50px;
}

.contacts__title span{
    font-size: 20px;
}

.contacts__img{
    display: none;
}

.contacts__container{
    width: 260px;
    padding: 10px;
    right: 7%;
    bottom: 10%;
    text-align: center;
    
}

.contacts__address p, 
.contacts__address a{
    font-size: 12px;
}

.contacts__container p{
    font-size: 12px;
}

.contacts__btns{
    justify-content: center;
}

.contacts__btn{
    padding: 5px;
    font-size: 12px;
}

.contacts__address{
    justify-content: center;
}

.header__link{
    font-size: 15px;
}

.header__item+.header__item{
    margin-left: 10px;
}

}

@media (max-width:885px){
.contacts__container{
    right: 1%;
}
}

@media (max-width:861px){
.cards{
    margin-left: 120px;
}

.contacts__cards{
    margin-left: 130px;
}
}

@media (max-width:782px){
.aside{
    display: none;
}

.header__menu{
    margin-left: 0;
}

.cards{
    margin-left: 0;
    justify-content: center;
}

.contacts__cards{
    margin-left: 10px;
}

.contacts__container{
    width: 320px;
    right: 2%;
}

.footer{
    padding-left: 0;
}

.footer__item p{
    font-size: 13px;
}
}

@media (max-width:672px){
.cards{
    margin-left: 0px;
}

.contacts{
    padding-top: 50px;
}

.contacts__suptitle{
    margin-bottom: 20px;
}

.contacts__card{
    max-width: 110px;
    margin-left: 20px;
}
.contacts__text{
    font-size: 13px;
    margin-right: 5px;
}
}

@media (max-width:635px){
    .goods__main-img{
        width: 100%;
    }

    .goods__wrapper{
        padding: 0 15px;
    }

    .goods__imgs{
        max-width: none;
    }
    
    .goods__secondary-imgs{
        flex-direction: row;
    }

    .goods__secondary-img+.goods__secondary-img{
        margin-top: 0;
        margin-left: 20px;
    }

    .goods__title{
        margin-top: 30px;
    }

}

@media (max-width:575px){
.cards{
    margin-left: 0px;
}

.contacts{
    padding-bottom: 20px;
}

.contacts__suptitle{
    margin-left: 150px;
}

.contacts__container{
    position: relative;
    margin-top: 20px;
    right: 0;
    width: 100%;
}

.contacts__info{
    flex-direction: column;
    align-items: center;
}

.contacts__address{
    align-items: flex-end;
}

.footer__img + .footer__img{
    margin-left: 10px;
}

.header__menu{
    margin-top: 30px;
}

.cards{
    margin-top: 20px;
}

.footer p{
    display: none;
}

.goods__btn{
    font-size: 15px;
    padding: 5px 15px;
    margin-left: 5px;
}

.goods__num{
    width: 75px;
}
}

@media (max-width:440px){
.contacts__suptitle{
    margin-left: 100px;
}

.goods__info-container{
    margin-top: 35px;
    margin-bottom: 25px;
}
.goods__title{
    font-size: 25px;
}

.goods__price{
    font-size: 20px;
}

.goods__main-img{
    width: 80%;
}
.goods__secondary-imgs{
    flex-direction: column;
}
.goods__secondary-img+.goods__secondary-img{
    margin: 0;
    margin-top: 10px;
}
}

@media (max-width:355px){
.contacts__suptitle{
    margin-left: 50px;
}
}