*,
::before,
::after{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #131313;
}

ul{
    margin: 0;
    list-style: none;
}

li{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    margin-right: 70px;
}

.menu__list{
    display: flex;
}

/* Фишка заключается в том:
+ означает соседний селектор
он ищет menu__item и его соседа
и добавляет ТОЛЬКО соседу отступ в 10px */
.menu__item + .menu__item{
    padding-left: 10px;
}
/* Можно также было и child  */


.menu__link{
    text-transform: uppercase;
    padding: 43px 20px;
    transition: all .4s; /* Для плавности  */
}

.menu__link:hover{
    color: #fff;
    background-color: #131313;
}

