.block{
    background-color: grey;
    padding: 20px;
    height: 400px;

    display: flex;

    /* Выравнивание по основной  оси */
    justify-content:center; 

    /* Выравнивание по поперечной  оси */
    align-items: center;

    /* смена направления оси */
    flex-direction: column;

    

}

.item{
    background-color: tomato;
    padding: 10px;
    border: 1px solid black;
}