*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

$primary-weight:700;
$primary-color:#333333;
$secondary-color:#B59571;
$custom-color:#fff;
$custom-transition: all 0.5s;

@mixin custom-btn{
    padding: 15px 30px;
    border: transparent;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    background-color: $secondary-color;
    color: $custom-color;
    cursor: pointer;
}

@mixin custom-increase {
    transform: scale(1.5);
    transition: all 1.5s;
}

@mixin custom-decrease {
    transform: scale();
    transition: all 1.5s;
}

body{
    font-family: "CirceBold";
}

.wrapper{
    max-width: 1106px;
    margin: 0 auto;
}

.nav{
    position: absolute;
    right: 100px;

    &__menu{
        display: flex;
        margin-top: 40px;
    }

    &__item+&__item{
        margin-left: 10px;
    }

    &__item:hover{
        @include custom-increase;
    }

    &__item{
        @include custom-decrease();
    }

    &__link{
        font-family: "CirceRegular";
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $custom-color;
    }

    &__link:hover{
        background-color: $secondary-color;
        transition: $custom-transition;
    }
}

.banner{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/pictures/banner.jpg');

    &__info{
        max-width: 856px;
        position: absolute;
        bottom: 150px;
        left: 22%;
    }

    &__title{
        font-size: 54px;
        font-weight: $primary-weight;
        line-height: 76px;
        color: $custom-color;
    }
}

.aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    position: fixed;
    width: 120px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $primary-color;

    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &__img+&__img,
    &__icon+&__icon{
        margin-top: 25px;
    }

}

.about{
    padding-top: 150px;

    &__suptitle{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        margin-bottom: 80px;
    }
    
    &__info{
        display: flex;
    }

    &__suptitle::before{
        content: '';
        position: absolute;
        top: 40%;
        left: 168px;
        width: 60px;
        height: 3px;
        background-color: $secondary-color;
    }

    &__title{
        display: block;
        text-transform: capitalize;
        max-width: 196px;
        margin-left: 220px;
        margin-right: 135px;
        font-size: 50px;
        font-weight: 700;
        line-height: 77px;
        color: $primary-color;
    }
    
    &__text{
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: $primary-color;
    }

    &__text{
        @include custom-decrease();
        cursor: pointer;
    }

    &__text:hover{
        display: block;
        padding: 10px;
        @include custom-increase;
        cursor: pointer;
        z-index: 1;
        background-color: $secondary-color;
        border-radius: 25px;
    }

    &__text+&__text{
        margin-top: 15px;
    }

    &__menu{
        margin-right: 100px;
    }

    &__delivery{
        margin-right: 80px;
        margin-left: 185px;
    }

    &__btns{
        margin-top: 60px;
    }

    &__btn{
        @include custom-btn;
    }

    &__btn:hover{
        background-color: $custom-color;
        color: $primary-color;
        border: 0.5px solid $primary-color;
        transition: $custom-transition;
    }

    &__second-btn{
        background-color: $custom-color;
        color: $primary-color;
        border: 0.5px solid $primary-color;
    }

    &__second-btn:hover{
        @include custom-btn;
    }

    &__btn+&__btn{
        margin-left: 30px;
    }

    &__menu-imgs{
        margin-top: 120px;
        margin-left: 220px;
        display: flex;
    }

    &__menu-container+&__menu-container{
        margin-left: 105px;
    }

    &__menu-container img{
        @include custom-decrease;
    }

    &__menu-container img:hover{
        @include custom-increase;
    }


    &__menu-text{
        margin-top: 25px;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: $primary-color;
        text-transform: uppercase;
        position: relative;
    }

    &__menu-text::before{
        content: '';
        position: absolute;
        top: 40%;
        left: 200px;
        width: 60px;
        height: 3px;
        background-color: $secondary-color;
    }

    &__menu-text-2::before{
        content: '';
        position: absolute;
        top: 40%;
        left: 180px;
        width: 60px;
        height: 3px;
        background-color: $secondary-color;
    }

}


.contacts{
    padding: 150px 0 100px;
    position: relative;

    &__info{
        display: flex;
        justify-content: space-between;
    }

    &__suptitle{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: $primary-color;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 150px;
    }

    &__suptitle::before{
        content: '';
        position: absolute;
        top: 40%;
        left: 168px;
        width: 60px;
        height: 3px;
        background-color: $secondary-color;
    }

    &__cards{
        max-width: 360px;
    }

    &__card-1,
    &__card-2{
        display: flex;
    }

    &__card-2{
        margin-top: 50px;
    }

    &__card{
        max-width: 170px;
    }

    &__title{
        font-size: 64px;
        font-weight: 700;
        line-height: 77px;
        color: $secondary-color;
    }
    
    &__title span{
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        color: $secondary-color;
    }

    &__text{
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: $primary-color;
    }

    &__img{
        width: 60%;
    }

    &__container{
        position: absolute;
        width: 415px;
        bottom: 14%;
        right: 30%;
        padding: 40px 40px;
        background-color: #5B5B5B;
    }

    &__container p{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: $custom-color;
        margin-top: 25px;
    }
    
    &__address{
        display: flex;
        align-items: center;
    }

    &__address+&__address{
        margin-top: 20px;
    }

    &__address img{
        margin-right: 15px;
    }

    &__address p{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $custom-color;
    }

    &__address a{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $custom-color;
    }

    &__works p{
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        color: $custom-color;
    }

    &__works span{
        font-weight: 0;
        color: $custom-color;
    }

    &__btns{
        margin-top: 30px;
        display: flex
    }
    
    &__btn{
        @include custom-btn;
        border: 0.5px solid $secondary-color;
        padding: 10px 20px;
        font-size: 16px;
    }

    &__secondary-btn{
        background-color: #5B5B5B;
        border: 0.5px solid $custom-color;
    }

    &__btn:hover{
        background-color: $custom-color;
        color: $primary-color;
        border: 0.5px solid $primary-color;
        transition: $custom-transition;
    }

    &__btn+&__btn{
        margin-left: 20px;
    }
}

.footer{
    height: 120px;
    padding: 34px 0;
    background-color: $primary-color;

    &__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

    &__item p{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $custom-color;
    }
}






